*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Gabarito", sans-serif;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
     z-index: 1;
}
.navbar__s1__title{
    color:#A435F0;
}

.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input{
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}
 
.mylearning{
    position: relative;
    cursor: pointer;
}

/* My Learning Popup */
.mylearning__popup{
    position: absolute;
    background-color: white;
    border: solid black 1px;
    top: 30px;
    padding: 10px;
    right: 0;
    display: none;

}
.mylearning:hover .mylearning__popup{
    display: block;
}

.categories{
    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;
}
.categories p{
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 30px;
    border: solid 2px #A435F0 ;
    cursor: pointer;
}
.categories p:hover{
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid 2px #A435F0 ;


}
.sale-image img{
    width: 100%;
 
}
.sale-image{
    position: relative;
    
}
.sale-image-offer{
    background-color: white;
    border: black solid 2px;
    width:35%;
    position: absolute;
    padding: 2%;
    top: 20%;
    left: 5%;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
   
}
@keyframes zoom {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
    
}
.recommended{
    padding: 10px;
}
.recommended__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.course-card{
    width: 250px;
    padding: 5px;
}
.course-card img{
    height: 50%;
    width: 100%;
}
.topics{
    padding: 10px;
}
.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.topics__container p{
    border: solid gray 2px;
    flex-grow: 1;
    padding: 10px;
    flex-basis: 25%;
    
}

.popular{
    padding: 10px;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.footer{
    padding: 30px;
    background-color: black;
    color: white;
}
.footer__one{
    display: flex;
    gap: 10px;
}
.footer__one p{
    margin: 20px;
}
.footer__two{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}